


.Float-Title{
    margin: 42px 25px;
}

.carousel{
    margin: 80px 25px;
}

.carousel-items{
    background-color: #087f5b;
    color: #e6fcf5 ;

    padding: 32px;
    border-radius: 12px;

    justify-content: center;
    align-content: center;

    /* align-self: center; */


    display:flex;
    gap: 24px;

    position: relative;

}

img{
    /* scale: 1.5; */
    border-radius: 12px;
}
.testimonial-text{
    font-size: 18px;
    line-height: 1.4;
    margin-bottom: 12px;
}
.testimonial-author{
    font-size: 14px;

}
.testimonial-job{
    font-size: 12px;
    color: rgba(230, 252, 245, 0.8);

}

.btn{
    background-color: white;

    border: none;
    border-radius: 50%;

    height: 32px;
    width: 32px;

    

    position: absolute;
    
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    justify-items: center;


}
.feather{
    stroke: #087f5b;
    height: 32px;
    width: 32px;

}
.btn-left{
    left: 0;
}
.btn-right{
    right: 0;
}